In [2]:
import pandas as pd 
import numpy as np 
from scipy import stats

/var/folders/b_/zd5186l57mxb7_hh9s2sj7d80000gn/T/ipykernel_10003/1753433051.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('/Users/someshghaturle/Github/Masters-in-Data-Science/Sem-1/Introduction to Data Science/problem-2.2.csv')

In [5]:
df.head()

   ID   Purpose Length Lanes Clear   T OR D Material   Span Rel-L  Unnamed: 9
0  E1   HIGHWAY      ?     2     N  THROUGH     WOOD  SHORT     S         NaN
1  E2   HIGHWAY   1037     2     N  THROUGH     WOOD  SHORT     S         NaN
2  E3  AQUEDUCT      ?     1     N  THROUGH     WOOD      ?     S         NaN
3  E5   HIGHWAY   1000     2     N  THROUGH     WOOD  SHORT     S         NaN
4  E6   HIGHWAY      ?     2     N  THROUGH     WOOD      ?     S         NaN